
*, HTML, BODY, DIV, DL, DT, DD, UL, OL, LI, H1, H2, H3, H4, H5, H6, PRE, FORM, LABEL, FIELDSET, INPUT, P, BLOCKQUOTE, TH, TD
{
	margin: 0;
	padding: 0;
	font-color: black;
}

ol, ul, li {
	list-style-type: none;
}

@font-face {
	font-family: "fairview_small";
	src: url("../fonts/Fairview_SmallCaps.otf") format("opentype");
}

@font-face {
	font-family: "fairview_regular";
	src: url("../fonts/Fairview_Regular.otf") format("opentype");
}


html {
	width: 100%;
	height: 100%;
}

body {
	font-family: Sans-Serif;
	width: 100%;
	height: 100%;
	background-image: url("../img/crossword.png");
}
#upper h1 {
	font-family: "fairview_small"!important;
	font-size: 35px!important;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin-left: 5px;
	color: white;
}
#upper {
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	background: #0F2940;
	opacity: 0.9;
}

#header h2 {
	font-size: 16px;
	color: white;
	height: 35px;
	line-height: 35x;
	margin-left: 5px;
}

#header {
	background-color: #2B4965;
	opacity: 0.9;
	height: 35px;
	line-height: 35px;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}



#wrapper {
	background-color: white;
    border: 2px solid #d3d3d3; 
    border-radius: 5px;
    min-height: 100%;
    position:relative;
	width: 60%;
	margin-top: auto;
	margin-left:auto;
	margin-right: auto;
}

#wrapper p {
	text-align: center;
	font-family: Sans-Serif;
}

#footer_wrap {
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background: #0F2940;
}

#footer_wrap p {
	color: white;
	font-family: Arial;
	position: relative;
  	top: 50%;
  	width: 350px;
  	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


#chartcont {
	margin-top: 40px;
	margin-left: 40px;
	width: 600px;
	height: 800px;
}

.chartcont p.ex {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 60%;
}
.chartcont #chart1 {
	margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
	height: 350px;
}

.chartcont #chart2 {
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 40px;
	width: 500px;
	height: 350px;
}

.chartcont #button {
  width: 40px ;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 50px;
}

.fixed {
	position: fixed;
	top: 0;
}

nav {
	height: 35px;
	margin-top: -35px;
	margin-left: 45%;
}

nav li {
	float:left;
}

nav p {
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	height: 35px;
    display: block;
	color: white;
}

nav a {
	text-decoration:none;
}

nav a:hover p {
	color: black;
	background: white;
	text-decoration: none;
}

nav li.Selected p {
	color: black;
	background: white;
} 


